In [1]:
import pandas as pd
import numpy as np
import requests
import json

from pprint import pprint
from pybea.client import BureauEconomicAnalysisClient
import datapungibea as dpb
import pprint

#Matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.lines as mlines
from matplotlib import style
style.use(['classic','dark_background'])

# pip install feedparser

# pip install datapungibea
# pip install python-bea

key='877C205C-C78D-4A39-8C4E-E36B818F3C33'

# Initalize the new Client.
bea_client = BureauEconomicAnalysisClient(api_key=f'{key}')

In [2]:
# UnderlyingGDPbyIndustry -Underlying Detail estimates of value added, gross output, and intermediate inputs by industry.
# InputOutput	-Make and use tables, direct requirements, and total requirements statistics.
# Regional 	-Detailed income and employment statistics by state, county, and metropolitan area. Detailed GDP statistics by state and metropolitan statistical area. Price parities statistics by state and MSA.

# NIPA	-NIPA tables with options.
# https://apps.bea.gov/iTable/iTable.cfm?ReqID=19&step=4&isuri=1&1921=flatfiles&3Place=Y#reqid=19&step=4&isuri=1&1921=flatfiles

# NIUnderlyingDetail	-NI Underlying Detail tables with options.
# FixedAssets	-Fixed Assets tables with options
# ITA	-International Transactions dataset by indicator, area or country, frequency, and year
# IntlServTrade  -International Services Trade dataset by type of service, trade direction, affiliation, area or country, and year
# IIP	-International Investment Position dataset by type of investment, component, frequency, and year
# GDPByIndustry	 -Estimates of value added, gross output, intermediate inputs, KLEMS, and employment statistics by industry
# MNE	-Direct Investment by direction of investment, series, classification, year, country, and industry; and activities of Multinational Enterprises (MNE) by direction of investment, ownership, bank/non-bank, series, classification, year, country, industry, and state.

In [3]:
# Per capita personal income (dollars)
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=Regional&TableName=SAINC1&GeoFIPS=STATE&LineCode=3&Year=2018,2019&ResultFormat=JSON'                           
r=requests.get(url)
d=json.loads(r.text)
eighteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2018']
nineteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2019']
nineteen_df=pd.DataFrame(nineteen)
nineteen_df

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,SAINC1-3,00000,United States,2019,Dollars,0,"56,490",NaN
1,SAINC1-3,01000,Alabama,2019,Dollars,0,"44,145",NaN
2,SAINC1-3,02000,Alaska *,2019,Dollars,0,"62,806",*
3,SAINC1-3,04000,Arizona,2019,Dollars,0,"46,058",NaN
4,SAINC1-3,05000,Arkansas,2019,Dollars,0,"44,629",NaN
5,SAINC1-3,06000,California,2019,Dollars,0,"66,619",NaN
6,SAINC1-3,08000,Colorado,2019,Dollars,0,"61,157",NaN
7,SAINC1-3,09000,Connecticut,2019,Dollars,0,"77,289",NaN
8,SAINC1-3,10000,Delaware,2019,Dollars,0,"54,485",NaN
9,SAINC1-3,11000,District of Columbia,2019,Dollars,0,"83,406",NaN
10,SAINC1-3,12000,Florida,2019,Dollars,0,"52,426",NaN
11,SAINC1-3,13000,Georgia,2019,Dollars,0,"48,236",NaN
12,SAINC1-3,15000,Hawaii *,2019,Dollars,0,"57,015",*
13,SAINC1-3,16000,Idaho,2019,Dollars,0,"45,968",NaN
14,SAINC1-3,17000,Illinois,2019,Dollars,0,"58,764",NaN
15,SAINC1-3,18000,Indiana,2019,Dollars,0,"48,678",NaN
16,SAINC1-3,19000,Iowa,2019,Dollars,0,"51,865",NaN
17,SAINC1-3,20000,Kansas,2019,Dollars,0,"53,426",NaN
18,SAINC1-3,21000,Kentucky,2019,Dollars,0,"43,770",NaN
19,SAINC1-3,22000,Louisiana,2019,Dollars,0,"47,460",NaN
20,SAINC1-3,23000,Maine,2019,Dollars,0,"50,634",NaN
21,SAINC1-3,24000,Maryland,2019,Dollars,0,"64,640",NaN
22,SAINC1-3,25000,Massachusetts,2019,Dollars,0,"74,187",NaN
23,SAINC1-3,26000,Michigan,2019,Dollars,0,"49,228",NaN
24,SAINC1-3,27000,Minnesota,2019,Dollars,0,"58,834",NaN
25,SAINC1-3,28000,Mississippi,2019,Dollars,0,"38,914",NaN
26,SAINC1-3,29000,Missouri,2019,Dollars,0,"48,656",NaN
27,SAINC1-3,30000,Montana,2019,Dollars,0,"49,747",NaN
28,SAINC1-3,31000,Nebraska,2019,Dollars,0,"54,515",NaN
29,SAINC1-3,32000,Nevada,2019,Dollars,0,"51,161",NaN
30,SAINC1-3,33000,New Hampshire,2019,Dollars,0,"63,502",NaN
31,SAINC1-3,34000,New Jersey,2019,Dollars,0,"70,471",NaN
32,SAINC1-3,35000,New Mexico,2019,Dollars,0,"43,326",NaN
33,SAINC1-3,36000,New York,2019,Dollars,0,"71,717",NaN
34,SAINC1-3,37000,North Carolina,2019,Dollars,0,"47,766",NaN
35,SAINC1-3,38000,North Dakota,2019,Dollars,0,"57,232",NaN
36,SAINC1-3,39000,Ohio,2019,Dollars,0,"50,199",NaN
37,SAINC1-3,40000,Oklahoma,2019,Dollars,0,"47,341",NaN
38,SAINC1-3,41000,Oregon,2019,Dollars,0,"53,191",NaN
39,SAINC1-3,42000,Pennsylvania,2019,Dollars,0,"58,032",NaN
40,SAINC1-3,44000,Rhode Island,2019,Dollars,0,"56,361",NaN
41,SAINC1-3,45000,South Carolina,2019,Dollars,0,"45,438",NaN
42,SAINC1-3,46000,South Dakota,2019,Dollars,0,"53,962",NaN
43,SAINC1-3,47000,Tennessee,2019,Dollars,0,"48,684",NaN
44,SAINC1-3,48000,Texas,2019,Dollars,0,"52,813",NaN
45,SAINC1-3,49000,Utah,2019,Dollars,0,"48,939",NaN
46,SAINC1-3,50000,Vermont,2019,Dollars,0,"55,293",NaN
47,SAINC1-3,51000,Virginia,2019,Dollars,0,"59,657",NaN
48,SAINC1-3,53000,Washington,2019,Dollars,0,"64,758",NaN
49,SAINC1-3,54000,West Virginia,2019,Dollars,0,"42,315",NaN
50,SAINC1-3,55000,Wisconsin,2019,Dollars,0,"53,227",NaN
51,SAINC1-3,56000,Wyoming,2019,Dollars,0,"62,189",NaN
52,SAINC1-3,91000,New England,2019,Dollars,0,"69,754",NaN
53,SAINC1-3,92000,Mideast,2019,Dollars,0,"66,855",NaN
54,SAINC1-3,93000,Great Lakes,2019,Dollars,0,"52,464",NaN
55,SAINC1-3,94000,Plains,2019,Dollars,0,"53,509",NaN
56,SAINC1-3,95000,Southeast,2019,Dollars,0,"49,159",NaN
57,SAINC1-3,96000,Southwest,2019,Dollars,0,"50,670",NaN
58,SAINC1-3,97000,Rocky Mountain,2019,Dollars,0,"54,873",NaN
59,SAINC1-3,98000,Far West,2019,Dollars,0,"64,236",NaN

In [4]:
url=f"https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=NIPA&TableName=T20600&Frequency=M&Year=2015,2016&ResultFormat=JSON"                          
r = requests.get(url)
d = json.loads(r.text) 
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'YEAR',
     'ParameterValue': '2015,2016'},
    {'ParameterName': 'TABLENAME', 'ParameterValue': 'T20600'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'NIPA'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA'},
    {'ParameterName': 'FREQUENCY', 'ParameterValue': 'M'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'},
    {'ParameterName': 'ShowMillions', 'ParameterValue': 'N'}]},
  'Results': {'Statistic': 'NIPA Table',
   'UTCProductionTime': '2021-01-15T20:30:57.200',
   'Dimensions': [{'Ordinal': '1',
     'Name': 'TableName',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '2',
     'Name': 'SeriesCode',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '3',
     'Name': 'LineNumber',
     'DataType': 'numeric',
     'IsValue': '0'},
    {'Ordinal': '4',
     'Name': 'LineDescription',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '5',
     'Name': 'TimePeriod',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '6', 'Name': 'CL_UNIT', 'DataType': 'string', 'IsValue': '0'},
    {'Ordinal': '7',
     'Name': 'UNIT_MULT',
     'DataType': 'numeric',
     'IsValue': '0'},
    {'Ordinal': '8',
     'Name': 'METRIC_NAME',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '9',
     'Name': 'DataValue',
     'DataType': 'numeric',
     'IsValue': '1'}],
   'Data': [{'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M01',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,470,587',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M02',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,555,375',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M03',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,553,966',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M04',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,609,799',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M05',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,680,778',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M06',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,723,301',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M07',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,773,143',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M08',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,812,046',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M09',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,834,059',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M10',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,870,357',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M11',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,876,643',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2015M12',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,930,823',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M01',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,957,214',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M02',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,958,484',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M03',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '15,996,657',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M04',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,035,579',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M05',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,057,944',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M06',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,103,276',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M07',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,168,245',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M08',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,205,653',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M09',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,274,657',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M10',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,341,308',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M11',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,382,249',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A065RC',
     'LineNumber': '1',
     'LineDescription': 'Personal income',
     'TimePeriod': '2016M12',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '16,447,308',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M01',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,529,133',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M02',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,570,758',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M03',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,591,656',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M04',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,625,516',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M05',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,677,202',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M06',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,695,751',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M07',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,729,551',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M08',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,757,635',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M09',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,767,967',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M10',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,802,454',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M11',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,811,191',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2015M12',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,834,213',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M01',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,848,649',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M02',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,841,393',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M03',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,861,099',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M04',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,888,310',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M05',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,893,272',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M06',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,927,823',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M07',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,975,832',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M08',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '9,981,016',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M09',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '10,030,274',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M10',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '10,075,013',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M11',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '10,100,691',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A033RC',
     'LineNumber': '2',
     'LineDescription': 'Compensation of employees',
     'TimePeriod': '2016M12',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '10,142,911',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M01',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,717,865',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M02',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,752,202',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M03',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,768,485',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M04',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,796,334',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M05',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,840,675',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M06',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,855,353',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M07',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,883,998',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M08',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,908,503',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M09',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,916,435',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M10',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,946,613',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M11',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,953,493',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2015M12',
     'METRIC_NAME': 'Current Dollars',
     'CL_UNIT': 'Level',
     'UNIT_MULT': '6',
     'DataValue': '7,973,833',
     'NoteRef': 'T20600'},
    {'TableName': 'T20600',
     'SeriesCode': 'A034RC',
     'LineNumber': '3',
     'LineDescription': 'Wages and salaries',
     'TimePeriod': '2016M01',
     'METRIC_NAME': 'Current Dollars',

In [5]:
url=f"http://apps.bea.gov/api/data?&UserID={key}&method=GetData&DataSetName=MNE&Year=2018,2019&Country=650,699&DirectionOfInvestment=Outward&Classification=Country&ResultFormat=json"                          
r = requests.get(url)
d = json.loads(r.text) 
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'COUNTRY',
     'ParameterValue': '650,699'},
    {'ParameterName': 'YEAR', 'ParameterValue': '2018,2019'},
    {'ParameterName': 'DIRECTIONOFINVESTMENT', 'ParameterValue': 'OUTWARD'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'MNE'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA'},
    {'ParameterName': 'CLASSIFICATION', 'ParameterValue': 'COUNTRY'},
    {'ParameterName': 'GetFootnotes', 'ParameterValue': 'no'},
    {'ParameterName': 'NonbankAffiliatesOnly', 'ParameterValue': '2'},
    {'ParameterName': 'OwnershipLevel', 'ParameterValue': '2'},
    {'ParameterName': 'SeriesID', 'ParameterValue': 'all'}]},
  'Results': {'Table_Count': '6',
   'rowTypeID': '4,10',
   'InvestmentType': 'U.S. Direct Investment Abroad',
   'DataType': 'Balance of Payments and Direct Investment Position Data',
   'Entity': 'None',
   'IndustryClassification': 'NAICS',
   'YearList': '2018,2019',
   'DIRECTIONOFINVESTMENT': 'OUTWARD',
   'OwnershipLevel': '2',
   'NonbankAffiliatesOnly': '2',
   'Tables': '13,16,17,210,211,212',
   'cnt': '24',
   'Dimensions': [{'Ordinal': '1',
     'Name': 'Year',
     'DataType': 'numeric',
     'IsValue': '0'},
    {'Ordinal': '2',
     'Name': 'SeriesID',
     'DataType': 'numeric',
     'IsValue': '0'},
    {'Ordinal': '3',
     'Name': 'SeriesName',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '4', 'Name': 'Row', 'DataType': 'string', 'IsValue': '0'},
    {'Ordinal': '5', 'Name': 'Column', 'DataType': 'string', 'IsValue': '0'},
    {'Ordinal': '6', 'Name': 'RowCode', 'DataType': 'string', 'IsValue': '0'},
    {'Ordinal': '7',
     'Name': 'ColumnCode',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '8',
     'Name': 'TableScale',
     'DataType': 'string',
     'IsValue': '0'},
    {'Ordinal': '9',
     'Name': 'DataValueUnformatted',
     'DataType': 'string',
     'IsValue': '1'},
    {'Ordinal': '10',
     'Name': 'DataValue',
     'DataType': 'string',
     'IsValue': '1'}],
   'Data': [{'Year': '2018',
     'SeriesID': '33',
     'SeriesName': 'Debt Instruments Outflows',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Debt Outflows',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '-46564',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '64.00',
     'DataValue': '-46,564'},
    {'Year': '2019',
     'SeriesID': '33',
     'SeriesName': 'Debt Instruments Outflows',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Debt Outflows',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '2194',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '64.00',
     'DataValue': '2,194'},
    {'Year': '2019',
     'SeriesID': '32',
     'SeriesName': 'Equity Outflows Other than Reinvestment of Earnings',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Equity Outflows',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '2456',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '64.00',
     'DataValue': '2,456'},
    {'Year': '2018',
     'SeriesID': '32',
     'SeriesName': 'Equity Outflows Other than Reinvestment of Earnings',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Equity Outflows',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '4087',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '64.00',
     'DataValue': '4,087'},
    {'Year': '2019',
     'SeriesID': '25',
     'SeriesName': 'Reinvestment of Earnings Without Current-Cost Adjustment',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Reinvestment of Earnings',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '48720',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '64.00',
     'DataValue': '48,720'},
    {'Year': '2018',
     'SeriesID': '25',
     'SeriesName': 'Reinvestment of Earnings Without Current-Cost Adjustment',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Reinvestment of Earnings',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '6409',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '64.00',
     'DataValue': '6,409'},
    {'Year': '2019',
     'SeriesID': '33',
     'SeriesName': 'Debt Instruments Outflows',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Debt Outflows',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '259',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '66.00',
     'DataValue': '259'},
    {'Year': '2018',
     'SeriesID': '33',
     'SeriesName': 'Debt Instruments Outflows',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Debt Outflows',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '913',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '66.00',
     'DataValue': '913'},
    {'Year': '2019',
     'SeriesID': '32',
     'SeriesName': 'Equity Outflows Other than Reinvestment of Earnings',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Equity Outflows',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '148',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '66.00',
     'DataValue': '148'},
    {'Year': '2018',
     'SeriesID': '32',
     'SeriesName': 'Equity Outflows Other than Reinvestment of Earnings',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Equity Outflows',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '223',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '66.00',
     'DataValue': '223'},
    {'Year': '2018',
     'SeriesID': '25',
     'SeriesName': 'Reinvestment of Earnings Without Current-Cost Adjustment',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Reinvestment of Earnings',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '5092',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '66.00',
     'DataValue': '5,092'},
    {'Year': '2019',
     'SeriesID': '25',
     'SeriesName': 'Reinvestment of Earnings Without Current-Cost Adjustment',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Reinvestment of Earnings',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '7047',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '66.00',
     'DataValue': '7,047'},
    {'Year': '2018',
     'SeriesID': '31',
     'SeriesName': 'Financial Outflow Transactions Without Current-Cost Adjustment',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Financial Outflows',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '-36068',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '192.00',
     'DataValue': '-36,068'},
    {'Year': '2019',
     'SeriesID': '31',
     'SeriesName': 'Financial Outflow Transactions Without Current-Cost Adjustment',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Financial Outflows',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '53370',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '192.00',
     'DataValue': '53,370'},
    {'Year': '2018',
     'SeriesID': '27',
     'SeriesName': 'Direct Investment Income Without Current-Cost Adjustment',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Income',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '107111',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '192.00',
     'DataValue': '107,111'},
    {'Year': '2019',
     'SeriesID': '27',
     'SeriesName': 'Direct Investment Income Without Current-Cost Adjustment',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Income',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '98589',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '192.00',
     'DataValue': '98,589'},
    {'Year': '2018',
     'SeriesID': '30',
     'SeriesName': 'U.S. Direct Investment Position Abroad on a Historical-Cost Basis',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Position',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '888133',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '192.00',
     'DataValue': '888,133'},
    {'Year': '2019',
     'SeriesID': '30',
     'SeriesName': 'U.S. Direct Investment Position Abroad on a Historical-Cost Basis',
     'Row': 'Asia and Pacific',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Position',
     'RowCode': '699',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '955361',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '192.00',
     'DataValue': '955,361'},
    {'Year': '2018',
     'SeriesID': '31',
     'SeriesName': 'Financial Outflow Transactions Without Current-Cost Adjustment',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Financial Outflows',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '6228',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '194.00',
     'DataValue': '6,228'},
    {'Year': '2019',
     'SeriesID': '31',
     'SeriesName': 'Financial Outflow Transactions Without Current-Cost Adjustment',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Financial Outflows',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '7454',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '194.00',
     'DataValue': '7,454'},
    {'Year': '2019',
     'SeriesID': '27',
     'SeriesName': 'Direct Investment Income Without Current-Cost Adjustment',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Income',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '11852',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '194.00',
     'DataValue': '11,852'},
    {'Year': '2018',
     'SeriesID': '27',
     'SeriesName': 'Direct Investment Income Without Current-Cost Adjustment',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Income',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '13309',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '194.00',
     'DataValue': '13,309'},
    {'Year': '2018',
     'SeriesID': '30',
     'SeriesName': 'U.S. Direct Investment Position Abroad on a Historical-Cost Basis',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Position',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '109332',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '194.00',
     'DataValue': '109,332'},
    {'Year': '2019',
     'SeriesID': '30',
     'SeriesName': 'U.S. Direct Investment Position Abroad on a Historical-Cost Basis',
     'Row': 'China',
     'ColumnGParent': 'None',
     'ColumnParent': 'None',
     'Column': 'Position',
     'RowCode': '650',
     'ColumnCode': '0000',
     'ColumnParentCode': '0',
     'ColumnGParentCode': '0',
     'TableScale': 'Millions of Dollars',
     'DataValueUnformatted': '116203',
     'TableColumnDisplayOrder': '1.00',
     'TableRowDisplayOrder': '194.00',
     'DataValue': '116,203'}]}}}

In [6]:
df=pd.DataFrame(r)
df

                                                    0
0   b'{"BEAAPI":{"Request":{"RequestParam":[{"Para...
1   b'alue":"2018,2019"},{"ParameterName":"DIRECTI...
2   b'erValue":"JSON"},{"ParameterName":"USERID","...
3   b'E","ParameterValue":"MNE"},{"ParameterName":...
4   b'ue":"COUNTRY"},{"ParameterName":"GetFootnote...
..                                                ...
89  b'ColumnParentCode":"0","ColumnGParentCode":"0...
90  b'playOrder":"1.00","TableRowDisplayOrder":"19...
91  b't Investment Position Abroad on a Historical...
92  b'sition","RowCode":"650","ColumnCode":"0000",...
93  b'ataValueUnformatted":"116203","TableColumnDi...

[94 rows x 1 columns]

In [7]:
# token_file=open('token.txt', 'r')
# token=token_file.read()
url='https://apps.bea.gov/api/data'
payload={"UserID": key, 'method':'GETDATASETLIST', 'ResultFormat':'JSON'}
r=requests.get(url, params=payload)
resp=r.json()

In [8]:
datasets=resp['BEAAPI']['Results']['Dataset']
for dset in datasets:
    print(f"{dset['DatasetName']}:{dset['DatasetDescription']}")

NIPA:Standard NIPA tables
NIUnderlyingDetail:Standard NI underlying detail tables
MNE:Multinational Enterprises
FixedAssets:Standard Fixed Assets tables
ITA:International Transactions Accounts
IIP:International Investment Position
InputOutput:Input-Output Data
IntlServTrade:International Services Trade
GDPbyIndustry:GDP by Industry
Regional:Regional data sets
UnderlyingGDPbyIndustry:Underlying GDP by Industry
APIDatasetMetaData:Metadata about other API datasets

In [9]:
# # Grab the Dataset List.
# dataset_list = bea_client.get_dataset_list()
# pprint(dataset_list)

In [10]:
dataset_name='GDPbyIndustry'
payload={'UserID':key, 'method':'getparameterlist',
        'DatasetName':dataset_name, "ResultFormat": 'JSON'}
r=requests.get(url, params=payload)
resp=r.json()

In [11]:
resp

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'METHOD',
     'ParameterValue': 'GETPARAMETERLIST'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'GDPBYINDUSTRY'}]},
  'Results': {'Parameter': [{'ParameterName': 'Frequency',
     'ParameterDataType': 'string',
     'ParameterDescription': 'A - Annual, Q-Quarterly',
     'ParameterIsRequiredFlag': '1',
     'ParameterDefaultValue': '',
     'MultipleAcceptedFlag': '1',
     'AllValue': 'ALL'},
    {'ParameterName': 'Industry',
     'ParameterDataType': 'string',
     'ParameterDescription': 'List of industries to retrieve (ALL for All)',
     'ParameterIsRequiredFlag': '1',
     'ParameterDefaultValue': '',
     'MultipleAcceptedFlag': '1',
     'AllValue': 'ALL'},
    {'ParameterName': 'TableID',
     'ParameterDataType': 'integer',
     'ParameterDescription': 'The unique GDP by Industry table identifier (ALL for All)',
     'ParameterIsRequiredFlag': '1',
     'ParameterDefaultValue': '',
     'MultipleAcceptedFlag': '1',
     'AllValue': 'ALL'},
    {'ParameterName': 'Year',
     'ParameterDataType': 'integer',
     'ParameterDescription': 'List of year(s) of data to retrieve (ALL for All)',
     'ParameterIsRequiredFlag': '1',
     'ParameterDefaultValue': '',
     'MultipleAcceptedFlag': '1',
     'AllValue': 'ALL'}]}}}

In [12]:
paramlist=resp['BEAAPI']['Results']['Parameter']
for par in paramlist:
    print(f"{par['ParameterName']}:{par['ParameterDescription']}")

Frequency:A - Annual, Q-Quarterly
Industry:List of industries to retrieve (ALL for All)
TableID:The unique GDP by Industry table identifier (ALL for All)
Year:List of year(s) of data to retrieve (ALL for All)

In [13]:
paramlist

[{'ParameterName': 'Frequency',
  'ParameterDataType': 'string',
  'ParameterDescription': 'A - Annual, Q-Quarterly',
  'ParameterIsRequiredFlag': '1',
  'ParameterDefaultValue': '',
  'MultipleAcceptedFlag': '1',
  'AllValue': 'ALL'},
 {'ParameterName': 'Industry',
  'ParameterDataType': 'string',
  'ParameterDescription': 'List of industries to retrieve (ALL for All)',
  'ParameterIsRequiredFlag': '1',
  'ParameterDefaultValue': '',
  'MultipleAcceptedFlag': '1',
  'AllValue': 'ALL'},
 {'ParameterName': 'TableID',
  'ParameterDataType': 'integer',
  'ParameterDescription': 'The unique GDP by Industry table identifier (ALL for All)',
  'ParameterIsRequiredFlag': '1',
  'ParameterDefaultValue': '',
  'MultipleAcceptedFlag': '1',
  'AllValue': 'ALL'},
 {'ParameterName': 'Year',
  'ParameterDataType': 'integer',
  'ParameterDescription': 'List of year(s) of data to retrieve (ALL for All)',
  'ParameterIsRequiredFlag': '1',
  'ParameterDefaultValue': '',
  'MultipleAcceptedFlag': '1',
  'AllValue': 'ALL'}]

In [14]:
payload={"UserID":key, "method":"getparametervalaues",
        "DatasetName": dataset_name, "ParameterName": "TableID",
        "ResultFormat":"JSON"}
r=requests.get(url, params=payload)
resp=r.json()

In [15]:
resp

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'METHOD',
     'ParameterValue': 'GETPARAMETERVALAUES'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'GDPBYINDUSTRY'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'PARAMETERNAME', 'ParameterValue': 'TABLEID'}]},
  'Results': {'Error': {'APIErrorCode': '11',
    'APIErrorDescription': 'The Method requested does not exist - valid choices are GetDatasetList, GetParameterList, GetParameterValues, and GetData'}}}}

In [16]:
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=NIPA&TableName=T10101&Frequency=A,Q&Year=ALL&ResultFormat=JSON'
r=requests.get(url, params=payload)
resp=r.json()
resp

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'TABLENAME',
     'ParameterValue': 'T10101'},
    {'ParameterName': 'PARAMETERNAME', 'ParameterValue': 'TABLEID'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33,877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'NIPA,GDPBYINDUSTRY'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON,JSON'},
    {'ParameterName': 'METHOD',
     'ParameterValue': 'GETDATA,GETPARAMETERVALAUES'},
    {'ParameterName': 'YEAR', 'ParameterValue': 'ALL'},
    {'ParameterName': 'FREQUENCY', 'ParameterValue': 'A,Q'}]},
  'Results': {'Error': {'APIErrorCode': '11',
    'APIErrorDescription': 'The Method requested does not exist - valid choices are GetDatasetList, GetParameterList, GetParameterValues, and GetData'}}}}

In [17]:
# Percent change in Real Gross Domestic Product
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=Regional&TableName=CAINC1&LineCode=3&GeoFIPS=DE&Year=2014&ResultFormat=JSON'                           

r=requests.get(url)
d=json.loads(r.text)
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA'},
    {'ParameterName': 'LINECODE', 'ParameterValue': '3'},
    {'ParameterName': 'GEOFIPS', 'ParameterValue': 'DE'},
    {'ParameterName': 'YEAR', 'ParameterValue': '2014'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'REGIONAL'},
    {'ParameterName': 'TABLENAME', 'ParameterValue': 'CAINC1'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'}]},
  'Results': {'Statistic': 'Per capita personal income',
   'UnitOfMeasure': 'Dollars',
   'PublicTable': 'CAINC1 Personal Income Summary: Personal Income, Population, Per Capita Personal Income',
   'UTCProductionTime': '2021-01-15T20:31:09.013',
   'NoteRef': '2',
   'Dimensions': [{'Name': 'Code', 'DataType': 'string', 'IsValue': '0'},
    {'Name': 'GeoFips', 'DataType': 'string', 'IsValue': '0'},
    {'Name': 'GeoName', 'DataType': 'string', 'IsValue': '0'},
    {'Name': 'TimePeriod', 'DataType': 'string', 'IsValue': '0'},
    {'Name': 'DataValue', 'DataType': 'numeric', 'IsValue': '1'},
    {'Name': 'CL_UNIT', 'DataType': 'string', 'IsValue': '0'},
    {'Name': 'UNIT_MULT', 'DataType': 'numeric', 'IsValue': '0'}],
   'Data': [{'Code': 'CAINC1-3',
     'GeoFips': '10000',
     'GeoName': 'Delaware',
     'TimePeriod': '2014',
     'CL_UNIT': 'Dollars',
     'UNIT_MULT': '0',
     'DataValue': '45,993'},
    {'Code': 'CAINC1-3',
     'GeoFips': '10001',
     'GeoName': 'Kent, DE',
     'TimePeriod': '2014',
     'CL_UNIT': 'Dollars',
     'UNIT_MULT': '0',
     'DataValue': '37,323'},
    {'Code': 'CAINC1-3',
     'GeoFips': '10003',
     'GeoName': 'New Castle, DE',
     'TimePeriod': '2014',
     'CL_UNIT': 'Dollars',
     'UNIT_MULT': '0',
     'DataValue': '49,290'},
    {'Code': 'CAINC1-3',
     'GeoFips': '10005',
     'GeoName': 'Sussex, DE',
     'TimePeriod': '2014',
     'CL_UNIT': 'Dollars',
     'UNIT_MULT': '0',
     'DataValue': '44,428'}],
   'Notes': [{'NoteRef': '2',
     'NoteText': 'Per capita personal income was computed using Census Bureau midyear population estimates. Estimates for 2010-2019 reflect county population estimates available as of March 2020.'},
    {'NoteRef': ' ',
     'NoteText': 'Metropolitan Areas are defined (geographically delineated) by the Office of Management and Budget (OMB) bulletin no. 20-01 issued March 6, 2020.'},
    {'NoteRef': 'Note.',
     'NoteText': 'All dollar estimates are in thousands of current dollars (not adjusted for inflation). Calculations are performed on unrounded data.'},
    {'NoteRef': ' ',
     'NoteText': 'Last updated: November 17, 2020-- new statistics for 2019; revised statistics for 2010-2018.'}]}}}

In [18]:
x=[item for item in d['BEAAPI']['Results']['Dimensions']]
# d['BEAAPI']['Results']
x

[{'Name': 'Code', 'DataType': 'string', 'IsValue': '0'},
 {'Name': 'GeoFips', 'DataType': 'string', 'IsValue': '0'},
 {'Name': 'GeoName', 'DataType': 'string', 'IsValue': '0'},
 {'Name': 'TimePeriod', 'DataType': 'string', 'IsValue': '0'},
 {'Name': 'DataValue', 'DataType': 'numeric', 'IsValue': '1'},
 {'Name': 'CL_UNIT', 'DataType': 'string', 'IsValue': '0'},
 {'Name': 'UNIT_MULT', 'DataType': 'numeric', 'IsValue': '0'}]

In [19]:
df=pd.DataFrame(x)
df

         Name DataType IsValue
0        Code   string       0
1     GeoFips   string       0
2     GeoName   string       0
3  TimePeriod   string       0
4   DataValue  numeric       1
5     CL_UNIT   string       0
6   UNIT_MULT  numeric       0

In [20]:
name='RegionalIncome'
payload={"UserID":key, "method":"GetData",
        "DatasetName": 'RegionalIncome', "ParameterName": "CA1",
        "ResultFormat":"JSON"}
r=requests.get(url, params=payload)
d=json.loads(r.text)
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'TABLENAME',
     'ParameterValue': 'CAINC1'},
    {'ParameterName': 'PARAMETERNAME', 'ParameterValue': 'CA1'},
    {'ParameterName': 'GEOFIPS', 'ParameterValue': 'DE'},
    {'ParameterName': 'YEAR', 'ParameterValue': '2014'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33,877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'DATASETNAME',
     'ParameterValue': 'REGIONAL,REGIONALINCOME'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON,JSON'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA,GETDATA'},
    {'ParameterName': 'LINECODE', 'ParameterValue': '3'}]},
  'Results': {'Error': {'APIErrorCode': '11',
    'APIErrorDescription': 'The Method requested does not exist - valid choices are GetDatasetList, GetParameterList, GetParameterValues, and GetData'}}}}

# NIPA-National Income and Product Accounts (Value and compositon of US production and incomes generated in producing it)

In [21]:
# Percent Change in Real GPD
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=NIPA&TableName=T10101&Frequency=A,Q&Year=ALL&ResultFormat=JSON'                           
r=requests.get(url)
d=json.loads(r.text)
eighteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2018']
nineteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2019']
nineteen_df=pd.DataFrame(nineteen)
nineteen_df.head()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,METRIC_NAME,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,T10101,A191RL,1,Gross domestic product,2019,Fisher Quantity Index,"Percent change, annual rate",0,2.2,T10101
1,T10101,DPCERL,2,Personal consumption expenditures,2019,Fisher Quantity Index,"Percent change, annual rate",0,2.4,T10101
2,T10101,DGDSRL,3,Goods,2019,Fisher Quantity Index,"Percent change, annual rate",0,3.7,T10101
3,T10101,DDURRL,4,Durable goods,2019,Fisher Quantity Index,"Percent change, annual rate",0,4.8,T10101
4,T10101,DNDGRL,5,Nondurable goods,2019,Fisher Quantity Index,"Percent change, annual rate",0,3.1,T10101

In [22]:
# Percent Change in Real GPD
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=NIPA&TableName=T20600&Frequency=M&Year=2015,2016&ResultFormat=JSON'                      
r=requests.get(url)
d=json.loads(r.text)
Income=[item for item in d['BEAAPI']['Results']['Dimensions']]
Income_df=pd.DataFrame(Income)
Income_df

  Ordinal             Name DataType IsValue
0       1        TableName   string       0
1       2       SeriesCode   string       0
2       3       LineNumber  numeric       0
3       4  LineDescription   string       0
4       5       TimePeriod   string       0
5       6          CL_UNIT   string       0
6       7        UNIT_MULT  numeric       0
7       8      METRIC_NAME   string       0
8       9        DataValue  numeric       1

In [23]:
# Table Parameter - Specific NIPA Table (need combination of TableName, Frequency, Year values)
# TableID Parameter - Discontinued
# Frequency Parameter - Multiple values allowed - "A,Q,M"

# GetParameterValues method and passing TableName 
# Year - "2002, 2003, 2004"

In [24]:
# Stock market as an alternative investment avenue
# https://apps.bea.gov/api/data/?&UserID=Your-36CharacterKey&method=GetData&DataSetName=FixedAssets&TableName=FAAt201&Year=ALL&ResultFormat=xml

# Data on Direct Investment and Multinaational Enterprises (MNEs)
# -Direct investment
# -Activites of Multinamtional Companies-AMNE-US parent enterprises and foreign affilitaes

# US direct invenstment in China and Asia
# url='https://apps.bea.gov/api/data/?&SeriesId=30&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2012,2011&Country=650,699&DirectionOfInvestment=Outward&Classification=Country&ResultFormat=JSON'           

# US Direct investment in US from Germany in manufacturing
# url='https://apps.bea.gov/api/data/?&SeriesId=22,23,24,25,26,27&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2013,2012,2011,2010&Country=308&Industry=3000&DirectionOfInvestment=Inward&Classification=CountryByIndustry&ResultFormat=JSON'         

# AMNE 
#Net Income Brazilian affiliates of US parent enterprises for all industries
# url='https://apps.bea.gov/api/data/?&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2012,2011&Country=202&Industry=all&DirectionOfInvestment=Outward&Classification=CountryByIndustry&SeriesId=5,4&NonBankAffiliatesOnly=0&OwnershipLevel=0&ResultFormat=JSON'         

# Total employment of US affiliates of foreigned own enterprises in all countrtries
# url ='https://apps.bea.gov/api/data/?&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2011&Country=all&Industry=0000&DirectionOfInvestment=Inward&Classification=Country&SeriesId=8&OwnershipLevel=0&NonbankAffiliatesOnly=0&GetFootnotes=Yes&ResultFormat=JSON'

In [54]:
# GDP By Industry
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=GDPbyIndustry&Year=2012,2011&Industry=ALL&tableID=1&Frequency=A&ResultFormat=JSON' 
# url='https://apps.bea.gov/api/data/?&UserID=877C205C-C78D-4A39-8C4E-E36B818F3C33&method=GetData&DataSetName=GDPbyIndustry&Year=2012,2011&Industry=ALL&tableID=1&Frequency=A&ResultFormat=JSON'
r=requests.get(url)
d=json.loads(r.text)
GDP_Product=[item for item in d['BEAAPI']['Results']['Data']] 
GDP_Product_df=pd.DataFrame(GDP_Product) 
GDP_Product_df

TypeError: list indices must be integers or slices, not str

In [57]:

url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=GDPbyIndustry&Year=2010&Industry=11&tableID=ALL&Frequency=A,Q&ResultFormat=JSON'           
r=requests.get(url)
d=json.loads(r.text)
Ag=[item for item in d['BEAAPI']['Results']['Data']]
Ag_df=pd.DataFrame(Ag)
Ag_df

TypeError: list indices must be integers or slices, not str

In [46]:
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'TABLEID',
     'ParameterValue': '1'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'YEAR', 'ParameterValue': '2012,2011'},
    {'ParameterName': 'FREQUENCY', 'ParameterValue': 'A'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA'},
    {'ParameterName': 'INDUSTRY', 'ParameterValue': 'ALL'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'GDPBYINDUSTRY'}]},
  'Results': [{'Statistic': 'GDP by Industry Table',
    'UTCProductionTime': '2021-01-15T20:48:40.723',
    'Dimensions': [{'Ordinal': '1',
      'Name': 'TableID',
      'DataType': 'numeric',
      'IsValue': '0'},
     {'Ordinal': '2',
      'Name': 'Frequency',
      'DataType': 'string',
      'IsValue': '0'},
     {'Ordinal': '3', 'Name': 'Year', 'DataType': 'string', 'IsValue': '0'},
     {'Ordinal': '4', 'Name': 'Quarter', 'DataType': 'string', 'IsValue': '0'},
     {'Ordinal': '5',
      'Name': 'Industry',
      'DataType': 'string',
      'IsValue': '0'},
     {'Ordinal': '6',
      'Name': 'IndustryDescription',
      'DataType': 'string',
      'IsValue': '0'},
     {'Ordinal': '7',
      'Name': 'DataValue',
      'DataType': 'numeric',
      'IsValue': '1'}],
    'Data': [{'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '11',
      'IndustrYDescription': 'Agriculture, forestry, fishing, and hunting',
      'DataValue': '180.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '111CA',
      'IndustrYDescription': 'Farms',
      'DataValue': '152.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '113FF',
      'IndustrYDescription': 'Forestry, fishing, and related activities',
      'DataValue': '28.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '21',
      'IndustrYDescription': 'Mining',
      'DataValue': '356.3',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '211',
      'IndustrYDescription': 'Oil and gas extraction',
      'DataValue': '218.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '212',
      'IndustrYDescription': 'Mining, except oil and gas',
      'DataValue': '76.4',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '213',
      'IndustrYDescription': 'Support activities for mining',
      'DataValue': '61.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '22',
      'IndustrYDescription': 'Utilities',
      'DataValue': '287.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '23',
      'IndustrYDescription': 'Construction',
      'DataValue': '524.4',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '311FT',
      'IndustrYDescription': 'Food and beverage and tobacco products',
      'DataValue': '209.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '313TT',
      'IndustrYDescription': 'Textile mills and textile product mills',
      'DataValue': '15.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '315AL',
      'IndustrYDescription': 'Apparel and leather and allied products',
      'DataValue': '10.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '31G',
      'IndustrYDescription': 'Manufacturing',
      'DataValue': '1867.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '31ND',
      'IndustrYDescription': 'Nondurable goods',
      'DataValue': '852.4',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '321',
      'IndustrYDescription': 'Wood products',
      'DataValue': '23.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '322',
      'IndustrYDescription': 'Paper products',
      'DataValue': '53.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '323',
      'IndustrYDescription': 'Printing and related support activities',
      'DataValue': '38.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '324',
      'IndustrYDescription': 'Petroleum and coal products',
      'DataValue': '158.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '325',
      'IndustrYDescription': 'Chemical products',
      'DataValue': '304.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '326',
      'IndustrYDescription': 'Plastics and rubber products',
      'DataValue': '62.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '327',
      'IndustrYDescription': 'Nonmetallic mineral products',
      'DataValue': '38.8',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '331',
      'IndustrYDescription': 'Primary metals',
      'DataValue': '62.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '332',
      'IndustrYDescription': 'Fabricated metal products',
      'DataValue': '127.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '333',
      'IndustrYDescription': 'Machinery',
      'DataValue': '144.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '334',
      'IndustrYDescription': 'Computer and electronic products',
      'DataValue': '237.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '335',
      'IndustrYDescription': 'Electrical equipment, appliances, and components',
      'DataValue': '48.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '3361MV',
      'IndustrYDescription': 'Motor vehicles, bodies and trailers, and parts',
      'DataValue': '104.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '3364OT',
      'IndustrYDescription': 'Other transportation equipment',
      'DataValue': '126.8',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '337',
      'IndustrYDescription': 'Furniture and related products',
      'DataValue': '22.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '339',
      'IndustrYDescription': 'Miscellaneous manufacturing',
      'DataValue': '80.3',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '33DG',
      'IndustrYDescription': 'Durable goods',
      'DataValue': '1015.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '42',
      'IndustrYDescription': 'Wholesale trade',
      'DataValue': '934.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '441',
      'IndustrYDescription': 'Motor vehicle and parts dealers',
      'DataValue': '148.8',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '445',
      'IndustrYDescription': 'Food and beverage stores',
      'DataValue': '130.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '44RT',
      'IndustrYDescription': 'Retail trade',
      'DataValue': '871.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '452',
      'IndustrYDescription': 'General merchandise stores',
      'DataValue': '134.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '481',
      'IndustrYDescription': 'Air transportation',
      'DataValue': '84.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '482',
      'IndustrYDescription': 'Rail transportation',
      'DataValue': '36.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '483',
      'IndustrYDescription': 'Water transportation',
      'DataValue': '14.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '484',
      'IndustrYDescription': 'Truck transportation',
      'DataValue': '121.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '485',
      'IndustrYDescription': 'Transit and ground passenger transportation',
      'DataValue': '34.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '486',
      'IndustrYDescription': 'Pipeline transportation',
      'DataValue': '21.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '487OS',
      'IndustrYDescription': 'Other transportation and support activities',
      'DataValue': '93.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '48TW',
      'IndustrYDescription': 'Transportation and warehousing',
      'DataValue': '451.4',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '493',
      'IndustrYDescription': 'Warehousing and storage',
      'DataValue': '45.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '4A0',
      'IndustrYDescription': 'Other retail',
      'DataValue': '459.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '51',
      'IndustrYDescription': 'Information',
      'DataValue': '759.8',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '511',
      'IndustrYDescription': 'Publishing industries, except internet (includes software)',
      'DataValue': '194.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '512',
      'IndustrYDescription': 'Motion picture and sound recording industries',
      'DataValue': '84.8',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '513',
      'IndustrYDescription': 'Broadcasting and telecommunications',
      'DataValue': '366.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '514',
      'IndustrYDescription': 'Data processing, internet publishing, and other information services',
      'DataValue': '114.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '52',
      'IndustrYDescription': 'Finance and insurance',
      'DataValue': '1026.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '521CI',
      'IndustrYDescription': 'Federal Reserve banks, credit intermediation, and related activities',
      'DataValue': '455.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '523',
      'IndustrYDescription': 'Securities, commodity contracts, and investments',
      'DataValue': '173.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '524',
      'IndustrYDescription': 'Insurance carriers and related activities',
      'DataValue': '384.3',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '525',
      'IndustrYDescription': 'Funds, trusts, and other financial vehicles',
      'DataValue': '13.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '53',
      'IndustrYDescription': 'Real estate and rental and leasing',
      'DataValue': '2019.3',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '531',
      'IndustrYDescription': 'Real estate',
      'DataValue': '1856.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '532RL',
      'IndustrYDescription': 'Rental and leasing services and lessors of intangible assets',
      'DataValue': '162.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '54',
      'IndustrYDescription': 'Professional, scientific, and technical services',
      'DataValue': '1124.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '5411',
      'IndustrYDescription': 'Legal services',
      'DataValue': '215.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '5412OP',
      'IndustrYDescription': 'Miscellaneous professional, scientific, and technical services',
      'DataValue': '684.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '5415',
      'IndustrYDescription': 'Computer systems design and related services',
      'DataValue': '224.5',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '55',
      'IndustrYDescription': 'Management of companies and enterprises',
      'DataValue': '278.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '56',
      'IndustrYDescription': 'Administrative and waste management services',
      'DataValue': '454.1',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '561',
      'IndustrYDescription': 'Administrative and support services',
      'DataValue': '411.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '562',
      'IndustrYDescription': 'Waste management and remediation services',
      'DataValue': '42.4',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '6',
      'IndustrYDescription': 'Educational services, health care, and social assistance',
      'DataValue': '1354.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '61',
      'IndustrYDescription': 'Educational services',
      'DataValue': '206.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '62',
      'IndustrYDescription': 'Health care and social assistance',
      'DataValue': '1148.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '621',
      'IndustrYDescription': 'Ambulatory health care services',
      'DataValue': '554.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '622',
      'IndustrYDescription': 'Hospitals',
      'DataValue': '382.0',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '623',
      'IndustrYDescription': 'Nursing and residential care facilities',
      'DataValue': '123.2',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '624',
      'IndustrYDescription': 'Social assistance',
      'DataValue': '88.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '7',
      'IndustrYDescription': 'Arts, entertainment, recreation, accommodation, and food services',
      'DataValue': '580.9',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '71',
      'IndustrYDescription': 'Arts, entertainment, and recreation',
      'DataValue': '158.3',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '711AS',
      'IndustrYDescription': 'Performing arts, spectator sports, museums, and related activities',
      'DataValue': '92.7',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '713',
      'IndustrYDescription': 'Amusements, gambling, and recreation industries',
      'DataValue': '65.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '72',
      'IndustrYDescription': 'Accommodation and food services',
      'DataValue': '422.6',
      'NoteRef': '1'},
     {'TableID': '1',
      'Frequency': 'A',
      'Year': '2011',
      'Quarter': '2011',
      'Industry': '721',
      'IndustrYDescription': 'Accommodation',
      'DataValue': '121.8',
      'NoteRef': '1'},