In [1]:
# Crime data for Chicago
# https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2

# Census Data for United States
# https://data.census.gov/cedsci/profile?q=United%20States&g=0100000US

# Bureau of Economic Analysis
# https://apps.bea.gov/iTable/index_nipa.cfm

# Kaggle data on Census
# https://www.kaggle.com/muonneutrino/us-census-demographic-data

#Since 2014 when the housing market began recovering
# Cities where home prices have grown the most
# https://www.kiplinger.com/slideshow/real-estate/t010-s001-12-cities-where-home-prices-have-risen-most/index.html              
#### San Francisco
#### Seattle
#### San Diego
#### Boston
#### Los Angeles
#### Phoenix
#### Dallas
#### New York
#### Detroit


# Cities where home prices have decreased the most
#### Chicago-stayed relatively flat



# Housing Starts
# Housing Completions
# Housing Permits

# Yearly Performance/Risk
# https://www.spglobal.com/spdji/en/indices/indicators/sp-corelogic-case-shiller-20-city-composite-home-price-nsa-index/#overview

In [2]:
# Excellent Article on Forecasting home prices
# https://www.globalpropertyguide.com/North-America/United-States/Price-History

In [3]:
# Census Housing data
# https://www.census.gov/econ/currentdata/dbsearch?program=HV&startYear=1956&endYear=2021&categories=RATE&dataType=RVR&geoLevel=US&adjusted=0&notAdjusted=1&errorData=

In [4]:
# Excellent article about foreign buyers
# https://calmatters.org/housing/2018/03/data-dig-are-foreign-investors-driving-up-real-estate-in-your-california-neighborhood/?

In [5]:
# House prices rising
# Housing starts-permits, homebuilder data
# Home Sales
# GPD Growth
# Unemployment rate
# How long houses stay on the market
# Population movements-Suburban and state 
# Foreclosure filings
# Crime
# Interest Rates
# Rent costs and vacancy rates
# Homeownership 
# Foreign Buying of Housing-All Cash transaction, zip code

In [6]:
import pandas as pd
import numpy as np

from matplotlib import style
style.use(['classic','dark_background'])

#Display all columns
pd.set_option('display.max_columns', None)

In [7]:
annual_perf='AnnualPerformance.csv'
house_inventory='HousingInventory.csv'
house_manufacturing='ManufacturingHousingSurvey.csv'
hew_home='NewHomeSold.csv'
new_residential='NewResidentialConstruction.csv'
performance_risk_metric='PerformanceRiskMetrics.csv'
rental_vac='RentalVacancy.csv'

annual_performance=pd.read_csv(annual_perf)
housing_inventory=pd.read_csv(house_inventory)
housing_manufacturing=pd.read_csv(house_manufacturing)
hew_homes=pd.read_csv(hew_home)
new_residential_construction=pd.read_csv(new_residential)
performance_risk_metrics=pd.read_csv(performance_risk_metric)
rental_vacancy=pd.read_csv(rental_vac)

In [8]:
chicago='Chicago_Crimes.csv'
chicago_crime_statistics=pd.read_csv(chicago)

# Chicago Crime Data

In [9]:
chicago_crime_statistics

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7259263,12265079,JE107654,11/01/2020 12:01:00 AM,018XX W ARMITAGE AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1432,14.0,32.0,22.0,11,NaN,NaN,2020,01/09/2021 03:51:24 PM,NaN,NaN,NaN
7259264,12264660,JE106865,12/10/2020 10:00:00 AM,062XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,313,3.0,20.0,42.0,06,NaN,NaN,2020,01/09/2021 03:51:24 PM,NaN,NaN,NaN
7259265,12261813,JE102937,01/02/2021 03:30:00 PM,019XX E 93RD ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,413,4.0,8.0,48.0,14,NaN,NaN,2021,01/09/2021 03:51:24 PM,NaN,NaN,NaN
7259266,12259981,JE101700,01/02/2021 09:42:00 PM,037XX W FLOURNOY ST,041A,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,False,False,1133,11.0,24.0,27.0,04B,NaN,NaN,2021,01/09/2021 03:51:24 PM,NaN,NaN,NaN
7259267,12259710,JE101404,01/02/2021 02:35:00 PM,040XX W VAN BUREN ST,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,SIDEWALK,True,False,1132,11.0,28.0,26.0,15,NaN,NaN,2021,01/09/2021 03:51:24 PM,NaN,NaN,NaN

In [10]:
chicago_crime_statistics=chicago_crime_statistics.dropna()

In [11]:
x=chicago_crime_statistics['ID'].count()
y=chicago_crime_statistics['X Coordinate'].count()

In [12]:
x=(x-y)/x*100
x

0.0

In [13]:
chicago_crime_statistics.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [14]:
crime_type=chicago_crime_statistics.groupby(['Primary Type']).count()
sorted_crime_type=crime_type.sort_values(by=['ID'], ascending=False)
top_twenty_crimes=sorted_crime_type[:21] 
top_twenty_crimes

,ID,Case Number,Date,Block,IUCR,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
Primary Type,,,,,,,,,,,,,,,,,,,,,
THEFT,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559,1391559
BATTERY,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793,1206793
CRIMINAL DAMAGE,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772,751772
NARCOTICS,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444,659444
ASSAULT,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657,418657
OTHER OFFENSE,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711,407711
BURGLARY,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124,374124
MOTOR VEHICLE THEFT,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982,298982
DECEPTIVE PRACTICE,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659,268659
ROBBERY,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510,248510
CRIMINAL TRESPASS,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968,186968
WEAPONS VIOLATION,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229,80229
PROSTITUTION,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880,60880
PUBLIC PEACE VIOLATION,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165,47165
OFFENSE INVOLVING CHILDREN,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057,45057
CRIM SEXUAL ASSAULT,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469,24469
SEX OFFENSE,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774,23774
INTERFERENCE WITH PUBLIC OFFICER,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929,16929
GAMBLING,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381,13381
LIQUOR LAW VIOLATION,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344,12344
ARSON,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783,10783

# Annual Performance

In [15]:
annual_performance

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Published:,"Dec 29, 2020",NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Effective Date,NaN,Annualized Returns,NaN,NaN
5,NaN,NaN,1 Year,3 Year,5 Year,10 Year
6,Index Level\nS&P CoreLogic Case-Shiller 20-Cit...,Oct-2020,7.95%,5.00%,5.26%,4.96%
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,Source: S&P Dow Jones Indices LLC.\n\nThe laun...,NaN,NaN,NaN,NaN,NaN

# Housing Inventory

In [16]:
# df.rename(columns={'$a': 'a', '$b': 'b', '$c': 'c', '$d': 'd', '$e': 'e'}, inplace=True)
housing_inventory=housing_inventory[-21:]
housing_inventory.rename(columns={'Unnamed: 0':'Year', 'Unnamed: 1':'Q1', 'U.S. Census Bureau':'Q2', 'Unnamed: 3':'Q3', 'Unnamed: 4':'Q4' }, inplace=True) 
housing_inventory=housing_inventory.set_index(['Year'])
housing_inventory

           Q1       Q2       Q3       Q4
Year
2001  117,347  117,786  118,216  118,635
2002  119,061  119,483  119,909  120,350
2003  120,792  121,233  121,682  122,159
2004  122,632  123,099  123,587  124,096
2005  124,611  125,118  125,619  126,104
2006  126,584  127,072  127,548  127,991
2007  128,439  128,888  129,300  129,634
2008  129,968  130,303  130,590  130,797
2009  131,001  131,207  131,375  131,490
2010  131,622  131,746  131,867  131,988
2011  132,110  132,232  132,356  132,487
2012  132,617  132,748  132,892  133,069
2013  133,243  133,421  133,611  133,823
2014  134,034  134,247  134,463  134,687
2015  134,912  135,135  135,368  135,619
2016  135,868  136,119  136,376  136,647
2017  136,916  137,187  137,463  137,750
2018  138,038  138,325  138,613  138,905
2019  139,198  139,490  139,782  140,074
2020  140,365  140,657  140,949      NaN
2021      NaN      NaN      NaN      NaN

# Housing Manufacturing

In [17]:
housing_manufacturing=housing_manufacturing[-8:-1] 
housing_manufacturing=housing_manufacturing.rename(columns={'Unnamed: 0':'Year', 'Unnamed: 1':'January', 'U.S. Census Bureau':'February', 'Unnamed: 3':'March', 'Unnamed: 4':'April', 'Unnamed: 5':'May', 'Unnamed: 6':'June', 'Unnamed: 7':'July', 'Unnamed: 8':'August', 'Unnamed: 9':'Spetember', 'Unnamed: 10':'October', 'Unnamed: 11':'November', 'Unnamed: 12':'December'} ) 
housing_manufacturing=housing_manufacturing.set_index(['Year'])
housing_manufacturing

,January,February,March,April,May,June,July,August,Spetember,October,November,December
Year,,,,,,,,,,,,
2014,4.4,4.4,4.9,5.7,5.7,5.6,5.7,6,5.9,6.5,5,4.7
2015,5,4.8,5.6,6.1,5.8,6.1,6.1,6.3,6.3,6.8,6,5.7
2016,5.9,6.1,7.1,6.7,6.8,7.3,5.3,7.4,7.3,7.2,7.1,7
2017,7.8,7.3,8.2,7.2,7.9,8.2,5.8,8.4,7.6,8.6,8.6,7.2
2018,8.6,8.1,8.8,8.3,8.8,8.3,6.8,9.2,7.5,8.6,7.7,5.9
2019,7.6,7.2,7.6,8,8.6,7.8,7.1,8.6,8,9.4,8,6.7
2020,8.7,8.2,8.3,6.6,6.6,7.6,7.5,7.9,8.1,9,NaN,NaN

# Housing Sales

In [18]:
hew_homes=hew_homes[-22:]
hew_homes=hew_homes.rename(columns={'Unnamed: 0':'Year', 'Unnamed: 1':'January', 'U.S. Census Bureau':'February', 'Unnamed: 3':'March', 'Unnamed: 4':'April', 'Unnamed: 5':'May', 'Unnamed: 6':'June', 'Unnamed: 7':'July', 'Unnamed: 8':'August', 'Unnamed: 9':'Spetember', 'Unnamed: 10':'October', 'Unnamed: 11':'November', 'Unnamed: 12':'December'})  
hew_homes=hew_homes.set_index(['Year'])
hew_homes

,January,February,March,April,May,June,July,August,Spetember,October,November,December
Year,,,,,,,,,,,,
2000,873,856,900,841,857,793,887,848,912,933,880,983
2001,936,963,939,909,885,882,880,866,853,871,924,979
2002,880,948,923,936,978,957,956,"1,014","1,044","1,006","1,024","1,048"
2003,999,936,999,"1,012","1,078","1,193","1,168","1,206","1,131","1,144","1,093","1,129"
2004,"1,165","1,159","1,276","1,186","1,241","1,180","1,088","1,175","1,214","1,305","1,179","1,242"
2005,"1,203","1,319","1,328","1,260","1,286","1,274","1,389","1,255","1,244","1,336","1,214","1,239"
2006,"1,174","1,061","1,116","1,123","1,086","1,074",965,"1,035","1,016",941,"1,003",998
2007,891,828,833,887,842,793,778,699,686,727,641,619
2008,627,593,535,536,504,487,477,435,433,393,389,377
2009,336,372,339,337,376,393,411,418,386,396,375,352
2010,345,336,381,422,280,305,283,282,317,291,287,326
2011,307,270,300,310,305,301,296,299,304,316,328,341
2012,335,366,354,354,370,360,369,375,385,358,392,399
2013,446,447,444,441,428,470,375,381,403,444,446,433
2014,443,420,405,403,451,418,402,456,470,476,442,497
2015,515,540,480,502,502,480,506,518,456,482,504,546
2016,509,515,526,571,560,558,639,584,567,577,571,561
2017,585,597,631,589,613,620,565,560,638,627,712,657
2018,622,637,662,637,657,613,617,598,596,552,614,564
2019,637,665,700,664,600,726,661,706,726,706,696,731
2020,774,716,612,570,698,840,979,977,965,945,841,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# New Residential Construction

In [19]:
new_residential_construction=new_residential_construction[-21:]
new_residential_construction=new_residential_construction.rename(columns={'Unnamed: 0':'Year', 'Unnamed: 1':'January', 'U.S. Census Bureau':'February', 'Unnamed: 3':'March', 'Unnamed: 4':'April', 'Unnamed: 5':'May', 'Unnamed: 6':'June', 'Unnamed: 7':'July', 'Unnamed: 8':'August', 'Unnamed: 9':'Spetember', 'Unnamed: 10':'October', 'Unnamed: 11':'November', 'Unnamed: 12':'December'})      
new_residential_construction=new_residential_construction.set_index(['Year'])
new_residential_construction

,January,February,March,April,May,June,July,August,Spetember,October,November,December
Year,,,,,,,,,,,,
2001,"1,699","1,656","1,659","1,666","1,665","1,626","1,598","1,615","1,565","1,566","1,651","1,680"
2002,"1,665","1,787","1,691","1,669","1,716","1,758","1,738","1,695","1,803","1,799","1,771","1,896"
2003,"1,808","1,854","1,757","1,803","1,835","1,875","1,885","1,966","1,961","2,012","1,918","1,987"
2004,"1,952","1,966","2,066","2,070","2,150","2,020","2,112","2,056","2,041","2,097","2,079","2,082"
2005,"2,139","2,114","2,062","2,150","2,085","2,178","2,203","2,219","2,263","2,170","2,218","2,120"
2006,"2,212","2,141","2,118","1,998","1,905","1,867","1,763","1,722","1,655","1,570","1,535","1,638"
2007,"1,626","1,598","1,596","1,470","1,493","1,407","1,361","1,321","1,261","1,192","1,224","1,149"
2008,"1,094","1,014",967,"1,008",995,"1,180",921,858,797,736,626,554
2009,545,558,513,521,556,601,595,616,609,583,623,664
2010,636,650,687,637,575,587,579,580,563,558,560,632
2011,576,542,583,581,618,636,621,647,610,671,706,697
2012,712,738,806,732,796,794,849,840,930,887,917,941
2013,940,980,936,"1,012","1,003",942,997,964,"1,004","1,044","1,029","1,005"
2014,976,"1,039","1,067","1,090","1,018","1,010","1,076","1,047","1,077","1,094","1,059","1,070"
2015,"1,048","1,127","1,078","1,161","1,275","1,378","1,139","1,165","1,143","1,158","1,245","1,209"
2016,"1,167","1,186","1,119","1,155","1,198","1,204","1,193","1,203","1,282","1,271","1,236","1,251"
2017,"1,313","1,239","1,292","1,255","1,209","1,326","1,265","1,309","1,257","1,339","1,299","1,312"
2018,"1,365","1,332","1,415","1,387","1,330","1,317","1,331","1,258","1,290","1,267","1,319","1,334"
2019,"1,316","1,305","1,327","1,330","1,338","1,273","1,366","1,471","1,437","1,503","1,510","1,457"
2020,"1,536","1,438","1,356","1,066","1,216","1,258","1,483","1,476","1,545","1,544","1,635",NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Performance Risks

In [20]:
performance_risk_metrics

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,As of:,"Oct 31, 2020",NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Annualized Risk,NaN,NaN,NaN,Annualized Risk - Adj Returns,NaN,NaN
5,NaN,3 Year,5 Year,10 Year,NaN,3 Year,5 Year,10 Year
6,S&P CoreLogic Case-Shiller 20-City Composite H...,1.52%,1.43%,2.63%,NaN,3.29,3.67,1.89
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Risk is defined as standard deviation calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Source: S&P Dow Jones Indices LLC.\n\nThe laun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Rental Vacancies

In [21]:
rental_vacancy=rental_vacancy[-21:]
rental_vacancy.rename(columns={'Unnamed: 0':'Year', 'Unnamed: 1':'Q1', 'U.S. Census Bureau':'Q2', 'Unnamed: 3':'Q3', 'Unnamed: 4':'Q4' }, inplace=True)        
rental_vacancy.set_index(['Year'], inplace=True)
rental_vacancy

        Q1    Q2    Q3    Q4
Year
2001   8.2   8.3   8.4   8.8
2002   9.1   8.4     9   9.3
2003   9.4   9.6   9.9  10.2
2004  10.4  10.2  10.1    10
2005  10.1   9.8   9.9   9.6
2006   9.5   9.6   9.9   9.8
2007  10.1   9.5   9.8   9.6
2008  10.1    10   9.9  10.1
2009  10.1  10.6  11.1  10.7
2010  10.6  10.6  10.3   9.4
2011   9.7   9.2   9.8   9.4
2012   8.8   8.6   8.6   8.7
2013   8.6   8.2   8.3   8.2
2014   8.3   7.5   7.4     7
2015   7.1   6.8   7.3     7
2016     7   6.7   6.8   6.9
2017     7   7.3   7.5   6.9
2018     7   6.8   7.1   6.6
2019     7   6.8   6.8   6.4
2020   6.6   5.7   6.4   NaN
2021   NaN   NaN   NaN   NaN

In [22]:
rental_vacancy['Mean'] = rental_vacancy.mean(axis=1)
# rental_vacancy['Mean']=rental_vacancy.mean(axis=1) 
rental_vacancy

        Q1    Q2    Q3    Q4  Mean
Year
2001   8.2   8.3   8.4   8.8   NaN
2002   9.1   8.4     9   9.3   NaN
2003   9.4   9.6   9.9  10.2   NaN
2004  10.4  10.2  10.1    10   NaN
2005  10.1   9.8   9.9   9.6   NaN
2006   9.5   9.6   9.9   9.8   NaN
2007  10.1   9.5   9.8   9.6   NaN
2008  10.1    10   9.9  10.1   NaN
2009  10.1  10.6  11.1  10.7   NaN
2010  10.6  10.6  10.3   9.4   NaN
2011   9.7   9.2   9.8   9.4   NaN
2012   8.8   8.6   8.6   8.7   NaN
2013   8.6   8.2   8.3   8.2   NaN
2014   8.3   7.5   7.4     7   NaN
2015   7.1   6.8   7.3     7   NaN
2016     7   6.7   6.8   6.9   NaN
2017     7   7.3   7.5   6.9   NaN
2018     7   6.8   7.1   6.6   NaN
2019     7   6.8   6.8   6.4   NaN
2020   6.6   5.7   6.4   NaN   NaN
2021   NaN   NaN   NaN   NaN   NaN

In [23]:
x=rental_vacancy.groupby(['Year']).mean()
x

      Mean
Year
2001   NaN
2002   NaN
2003   NaN
2004   NaN
2005   NaN
2006   NaN
2007   NaN
2008   NaN
2009   NaN
2010   NaN
2011   NaN
2012   NaN
2013   NaN
2014   NaN
2015   NaN
2016   NaN
2017   NaN
2018   NaN
2019   NaN
2020   NaN
2021   NaN